.squad-page {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 10px;
  display: flex;
  background: url('/images/fond.jpg') center/cover no-repeat fixed;
  justify-content: center;
  align-items: center;
}

.squad-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000096; /* voile transparent */
  backdrop-filter: blur(5px); /* flou */
  -webkit-backdrop-filter: blur(5px); /* Safari */
  pointer-events: none; /* ne bloque pas la souris */
  z-index: 0;
}

.team-card {
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.team-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.team-card h3 {
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.team-poste {
  color: #0d6efd;
  font-weight: 600;
  font-size: 1.1rem;
}

.team-quote {
  font-size: 1.2rem;
  font-style: italic;
  color: #555;
  line-height: 1.8;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  min-height: 450px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8%;
}

/* THUMBNAILS */
.thumbnails {
  max-width: 900px;
}

.thumb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
  transition: 0.2s;
}

.thumb:hover {
  opacity: 1;
}

.thumb.active {
  opacity: 1;
  border: 2px solid #0d6efd;
  transform: scale(1.1);
}
