<div class="squad-page">
  <div id="teamCarousel" class="carousel slide w-100" data-bs-ride="carousel">
    <div class="carousel-inner">
      @for (personnel of equipes; track personnel.id; let i = $index) {
        <div class="carousel-item" [class.active]="i === selectedIndex">
          <div class="card w-75 mx-auto text-center">
            <div class="team-card">
              <img
                [src]="personnel.photo ? apiUrl + personnel.photo : '/images/user.svg'"
                [alt]="personnel.nom"
                class="team-photo"
              />
              <h3 class="mt-3 mb-1">{{ personnel.nom }}</h3>
              <div class="team-poste">
                {{ personnel.poste }}
              </div>
              <p class="team-quote mt-4">"{{ personnel.description }}"</p>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="thumbnails d-flex justify-content-center flex-wrap mx-auto mt-3 gap-2">
      @for (personnel of equipes; track personnel.id; let i = $index) {
        <img
          [src]="personnel.photo ? apiUrl + personnel.photo : '/images/user.svg'"
          class="thumb"
          [class.active]="i === selectedIndex"
          (click)="selectPerson(i)"
        />
      }
    </div>
  </div>
</div>
