.message-cell {
  max-width: 420px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;

  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;

  line-height: 1.5;
  color: #495057;
}

.message-view {
  max-width: 600px;
  white-space: pre-wrap;
  word-break: break-word;
  height: 40vh;
}

.sticky-table thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  border-bottom: 2px solid #dee2e6;
}