<div class="conteiner py-5">
  <!-- TOASTS -->
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
    @if (sent) {
      <div class="toast align-items-center text-bg-success border-0 show">
        <div class="d-flex">
          <div class="toast-body">✔ Message envoyé avec succès</div>
          <button class="btn-close btn-close-white me-2 m-auto" (click)="sent = false"></button>
        </div>
      </div>
    }

    @if (errorMsg) {
      <div class="toast align-items-center text-bg-danger border-0 show">
        <div class="d-flex">
          <div class="toast-body">❌ {{ errorMsg }}</div>
          <button class="btn-close btn-close-white me-2 m-auto"></button>
        </div>
      </div>
    }
  </div>

  <!-- CARD -->
  <div class="card shadow border-0 mx-auto mb-5 contact-card">
    <div class="card-body p-4">
      <h1>Contactez-nous</h1>
      <h3>au <span>+261 34 00 120 11</span></h3>
      <span>ou par message privée</span>

      <form [formGroup]="form" (ngSubmit)="send()">
        <!-- NOM -->
        <div class="mb-2">
          <label class="form-label">Nom</label>
          <input class="form-control" formControlName="nom" name="nom" id="nom" />
          @if (form.get('nom')?.touched && form.get('nom')?.invalid) {
            <small class="text-danger"> Nom requis </small>
          }
        </div>

        <!-- TELEPHONE -->
        <div class="mb-2">
          <label class="form-label">Téléphone</label>
          <input class="form-control" formControlName="telephone" name="tel" id="tel" />
          @if (form.get('telephone')?.touched && form.get('telephone')?.invalid) {
            <small class="text-danger"> Téléphone invalide </small>
          }
        </div>

        <!-- EMAIL -->
        <div class="mb-2">
          <label class="form-label">Email</label>
          <input class="form-control" formControlName="email" name="mail" id="mail" />
          @if (form.get('email')?.touched && form.get('email')?.invalid) {
            <small class="text-danger"> Email invalide </small>
          }
        </div>

        <!-- SUJET -->
        <div class="mb-2">
          <label class="form-label">Objet</label>
          <select class="form-select" formControlName="sujet" (change)="onSujetChange()">
            <option value="">-- Choisir --</option>
            @for (sujet of sujets; track sujet.value) {
              <option [value]="sujet.value">{{ sujet.label }}</option>
            }
          </select>
        </div>

        <!-- MESSAGE -->
        <div class="mb-3">
          <label class="form-label">Message</label>
          <textarea class="form-control" rows="5" formControlName="message"></textarea>
          @if (form.get('message')?.touched && form.get('message')?.invalid) {
            <small class="text-danger"> Message invalide (min 10 caractères) </small>
          }
        </div>

        <!-- BUTTON -->
        <button class="btn btn-primary w-100" type="submit" [disabled]="sending">
          {{ sending ? 'Envoi...' : 'Envoyer' }}
        </button>
      </form>
    </div>
  </div>
</div>
