<div class="hero">
  <div class="hero-content">
    <h1 class="permanent-marker-regular">TI Rano</h1>
    <p>
      TiRANO est une société oeuvrant dans le domaine de l'eau (Forage d'eau, Puits moderne, AEPG,
      ...) , assainissement et Travaux publique.
    </p>
    <img src="images/machine.png" alt="Machine de forage" class="hero-img" />

    <div class="social-sidebar">
      <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="twitter"><i class="fab fa-x-twitter"></i></a>
      <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="tiktok"><i class="fab fa-tiktok"></i></a>
    </div>
  </div>
</div>
