<div class="sidebar">
  <div class="logo permanent-marker-regular">Ti Rano</div>

  <nav class="menu">
    <!-- <a routerLink="/admin/dashboard" routerLinkActive="active">
      <i class="fas fa-home"></i> <span>Dashboard</span>
    </a> -->

    <!-- <a routerLink="/admin/users" routerLinkActive="active">
      <i class="fas fa-user"></i> <span>Users</span>
    </a> -->

    <a routerLink="/admin/equipes" routerLinkActive="active">
      <i class="fas fa-users"></i> <span>Équipes</span>
    </a>

    <a routerLink="/admin/services" routerLinkActive="active">
      <i class="fas fa-tools"></i> <span>Services</span>
    </a>

    <a routerLink="/admin/travaux" routerLinkActive="active">
      <i class="fas fa-tasks"></i> <span>Travaux</span>
    </a>

    <a routerLink="/admin/contact" routerLinkActive="active">
      <i class="fas fa-envelope"></i> <span>Contact</span>
    </a>

    <a routerLink="/admin/users" routerLinkActive="active">
      <i class="fas fa-users"></i> <span>Utilisateurs</span>
    </a>
  </nav>
</div>
